<mat-card class="standardWidthList">
  <mat-card-header class="mat-form-field">
    <mat-card-title *ngIf="!isInEdit" (click)="onClickHeader();">
      {{list.name}}
    </mat-card-title>
    <mat-form-field class="full-width" *ngIf="isInEdit">
      <input matInput
      autofocus
      placeholder="List name"
      (blur)="onLostFocusHeader()"
      maxlength=16
      [(ngModel)]="list.name"
      class="full-width"
      required>
    </mat-form-field>
    <button mat-mini-fab class="close-button" (click)="removeList()"><i class="material-icons">clear</i></button>
  </mat-card-header>
  <mat-form-field class="full-width" style="margin-top:25px">
    <mat-chip-list #chipList class="mat-chip-list-stacked" aria-orientation="vertical">
      <mat-chip *ngFor="let item of list.Items" [removable]="removable" (remove)="remove(item)">
        {{item.name}}
        <mat-icon matChipRemove *ngIf="removable" class="pull-right">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New position..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)" class="full-width" />
    </mat-chip-list>
  </mat-form-field>
</mat-card>
